---
import { cva } from '../../../styled-system/css'

import CardBackground from './sections/cardBackground.astro';
import CardBackside from './sections/cardBackside.astro';
import CardFrontside from './sections/cardFrontside.astro';

let { initialState } = Astro.props;

const cardSectionBoxStyles = cva({
	base: {
		display: 'flex',
        position: 'relative',
		width: { 
			xsm: '100%', 
			md: '40%' 
		}, 
		height: { 
			xsm: '40%',
			sm: '40%',
			md: '100%' 
		} 
	}
});

---

<div id='cardSection_box' class={cardSectionBoxStyles()}>

    <CardBackground backgrounds={initialState.backgrounds}/>

    <CardBackside backsideCard={initialState.backsideCard}/>

    <CardFrontside frontsideCard={initialState.frontsideCard}/>

</div>