---
import { grid } from "../../../styled-system/patterns";
---

<form class={grid()}>

    <slot/>
    
</form>

<script>
    function sendPetition() {
        console.log('Petition sent');
    }
</script>;