---
import { css } from "../../../../styled-system/css";
import BacksideDetails from "./components/BacksideDetails.svelte";

const { media, cvc }: { media: string, cvc: string } = Astro.props.backsideCard;
---


<div id="card_backside_box" class={css({ display: 'flex', position: 'absolute', zIndex: 1, width: '260px', height: '150px', top: '20px', right: '20px' })}>
    
    <BacksideDetails 
        media={media} 
        cvc={cvc} 
        client:load
    />

</div>