---
type CardBackgroundProps = {
    backgrounds: {
        background_1040: string,
        background_640: string,
        background_340: string,
        background_regular: string
    }
}

const { background_1040, background_640, background_340, background_regular }: CardBackgroundProps['backgrounds'] = Astro.props.backgrounds;

import { cva } from "../../../../styled-system/css";

const cardSectionBackgroundBoxStyles = cva({
    base: {
        display: 'flex', 
        position: 'absolute', 
        width: '100%', 
        height: '100%',
        backgroundImage: {
            xsm: "url('/images/bg-main-mobile.png')",
            sm: `url(${background_340})`,
            md: `url(${background_1040})`
        },
        backgroundRepeat: 'no-repeat',
        backgroundSize: 'cover',
        backgroundPosition: 'center'
    }
});

---

<div id="cardSection_background_box" class={ cardSectionBackgroundBoxStyles({}) } >
    
</div>